@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/layout';
@import 'partials/_placeholder';

*, *::after, *::before {
	@include box-sizing(border-box);
}

body{
	font: {
		size: 100%;
		family: $primary-font;
	}
}

header{
	h1{
		@include font-size(20px);
	}

	@include MQ(M){
		h1{
			@include font-size(26px);
		}
	}
}

.res{
	position: relative;
	min-width: $list-width;
	.cdetail{
		width: $detail-width;
		position: relative;
		margin-left: 0;
	}
	@include MQ(M){
		.cdetail{
			position: absolute;
			margin-left: $list-width;
			background-color: orange;
		}
	}
	@include MQ(L){
		.cdetail{
			background-color: red;
		}
	}
}
